<div id="team" class="text-center">
    <div class="overlay">
      <div class="container">
        <div class="col-md-10 col-md-offset-1 section-title">
          <h2>Meet Our Chefs</h2>
          <hr>
          <p>Our friendly staff is at your disposal when it comes to help or suggestions about choosing one of the specialties, whether it is first-class sea fish, the highest quality steak or pasta that we produce ourselves.</p>
        </div>
        <div id="row">
          <div *ngFor="let chef of chefs" class="col-md-4 team">
            <div class="thumbnail">
              <div class="team-img"><img src="{{ chef.image }}" alt="{{ chef.name }}"></div>
              <div class="caption">
                <h3>{{ chef.name }}</h3>
                <p>{{ chef.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
