<div id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 ">
          <div class="about-img"><img src="../../../assets/img/about.jpg" class="img-responsive" alt=""></div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="about-text">
            <h2>Our Restaurant</h2>
            <hr>
            <p>The elegant interior combined with modern elements, soft and pleasant lighting makes the restaurant Touché an ideal choice for business meetings, family gatherings and unforgettable gatherings, and the capacity of the restaurant is 120 seats. The restaurant offers free parking available to guests, as well as a garden full of greenery that exudes elegance and comfort.</p>
            <h3>Awarded Chefs</h3>
            <p>Our friendly staff is at your disposal when it comes to help or suggestions about choosing one of the specialties, whether it is first-class sea fish, the highest quality steak or pasta that we produce ourselves. With excellent food, which awakens all your senses, one of the many impeccable wines we have on offer will fit perfectly.</p>
          </div>
        </div>
      </div>
    </div>
</div>